html{
    min-height: 100vh;
    background-image: linear-gradient(130deg, #121212,lightgray);
    background-repeat: no-repeat;
    background-size: cover;
    /* not as bright */
    /* color: lightgray; */
    /* makes our background esier on the eyes */
    
}
.logo{
    display: flex;
    margin: auto;
    flex-direction: column;
    max-width: 300px;
    padding: 1.5rem 0;
    align-items: center;
    
}

p{
    font-size: 1.5rem;
    font-weight: 600;
}

#numbers{
    width: 100px;
    height: 100px;
    background-color: purple;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 30px;
    font-weight: bold;
}

.body{
    width: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    /* gives us the font we want */
    font-family: "Raleway", sans-serif;
}

.main{
    padding: 20px;
}

form{
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    display: flex;
}

input[type="text"]{
    height: 30px;
    outline: 0;
    border: none;
    font-size: 1.5rem;
    font-family: "Raleway", sans-serif;
    color: #595959;
    flex-grow: 1;
}

button{
    font-size: 1.5rem;
    background-color: white;
    outline: 0;
    border:none;
    color: #595959;
    display: flexbox;
    align-items: end;
}




/* when we hover over the button with our mouse */

button:hover{
    color:black;
}

.todoList{
    background-color: white;
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px 25px;
    height: 100%;

}

ul{
    padding-left: 0px;
    list-style: none;
}
/* li{
    display: flex;
    
    border-bottom: 1px solid lightgray;
    padding: 15px 0;
    font-size: 1.5rem;
    color: #595959;
} */

li {
    padding: 10px;
    background-color: #f9f9f9;
    margin-bottom: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
}

li input[type="checkbox"] {
    margin-right: 10px;
    width: 30px;
    height: 25px;
    border: 4px solid black;
    border-color: black;
}

li span {
    flex-grow: 1;
}

li button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
}


/* make sure no pointer or click event is captured */
i{
    pointer-events: none;
}

.todo-item{
    flex-grow: 1;
}

.clear{
    display: flex;
    justify-content: flex-end;
    padding: 10px 3px;
    cursor: pointer;
    font-size: 1.5rem;

}
.clear:hover{
    color:red;
}

.todo-list-item{
    transition: all 0.5s ease-out;
}

.todo-list-item-fall{
    transform: translateY(12rem) rotateZ('10deg');
    background-color: red;
    border-radius: 5px;
    opacity: 0;
}